@import '../variables';

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;    
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;    
}
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;    
}

.AssignmentsModal{
    background-color: $step2;
    padding: 20px;
    width: 80vw;
    // height: 80vh;

}
.AssignmentsModal div{
    margin: 6px;
    // background-color: red;
    
}

.ModalTitle div{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AssignmentsModal{
    word-break: break-all;
}
// .Modal_Container{
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
// }
.ConfimationButtons_Container{
    display: flex;
    justify-content: space-between;
    // align-items: center;
}
input{
    width: 60vw;
}