@import '../variables';

.InfoBox_Header{
    background-color: $step2;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.InfoBox_Content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // align-items: center;
    justify-items: center;
}

.InfoBox_Content div:nth-child(even){
    background-color: $step2;
  }