@import '../variables';

.InfoBox_Header{
    background-color: $step2;
    height: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 70px;
    justify-items: center;
    align-items: center;
    text-align: center;
    text-justify: distribute;
    width: 100vw;
    color: $step5;
    font-weight: 100;
    overflow:hidden;
    border: 2px solid $step1;
    padding: 0px 20px;
}

.InfoBox_Content{
    display: grid;
    grid-template-columns: 1fr;
    // align-items: center;
    // justify-items: center;
    .Link{
        color: $dark;
    }
}

.InfoBox_Content div:nth-child(even){
    background-color: $step4;
    color: $dark;
}

.InfoBox_Content .Link:nth-child(even){
    background-color: $step4;
}

.InfoBox_Text{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 70px;
    // align-items: center;
    justify-items: center;
    text-align: center;
    padding: 6px;
    margin: 0px 20px;    
}