
// TABLE OF CONTENTS

// 1. Colors


// ===== 1. COLORS ===== //

$light: #EEE;
$medium: #999;
$dark: #222;

$font-color: #444;

$step1: #152E67;
$step2: #1A64A4;
$step3: #3493D0;
$step4: rgb(149, 195, 209);
$step5: rgb(202, 211, 214);


